@tailwind base;
@tailwind components;
@tailwind utilities;

.css-b62m3t-container {
  width:50%;
}

body {
  background-image: url(../public/wallpaper.jpg);
  background-size:cover;


  background-repeat:no-repeat;
  width:100vw;
  height:100vh;
  overflow-x:hidden;
}